<div class="wrapper">
  <header>
    <nav>
      <ul>
        <!--<li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
        <li><a [routerLink]="['/scene']" routerLinkActive="active">Scene</a></li>-->
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/scene" routerLinkActive="active">Scene</a></li>
        <li><a routerLink="/temp" routerLinkActive="active">Temp</a></li>
      </ul>
    </nav>
  </header>
  <main>

    <router-outlet></router-outlet>

  </main>
  <footer>
    {{title}}
    <br><em>work in progress</em>
  </footer>
</div>