/* You can add global styles to this file, and also import other style files */

@import 'normalize.css';

body {
  color: #ccc;
  background-color: #252525;
}
a {
    color: #5EA0B6;
}
/* reset css */
ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}
ul {
	list-style: none;
}